#telephone {
    border-width:1px;
    border-style:inset;
    border-color:black;
    margin-top: 100px;
    box-shadow: 6px 6px 0px rgb(132, 132, 180);
    background-color: #313552;
    color: white;
    
    

    }

   html {
        background-image: url("./photo/Google-Maps.jpg") ;
        
        background-size: cover;
    }